.footer {
  width: 100%;
  height: fit-content;
  background: #000000;
  color: #fff;
  padding: 20px 0;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftContent {
  /* border: 2px solid green; */
  width: 800px;
  display: flex;
  align-items: center;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}
.logo {
  width: 120px;
  height: 100px;
  margin-right: 20px;
}
.slogan {
  font-size: 14px;
  color: #aaa;
}

.socials {
  /* border: 2px solid red; */
  display: flex;
  gap: 50px;
  margin-right: 20px;
}

.socials a svg {
  width: 38px;
  height: 38px;
  fill: #fff;
  transition: fill 0.3s ease;
}

.facebook:hover svg {
  fill: #0070f3;
}
.youtube:hover svg {
  fill: #f30000;
}

.contact p {
  margin: 6px 60px;
  font-size: 14px;
  color: #aaa;
}

.bottomSection {
  border-top: 1px solid #333;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #777;
}
